div.small-container {
  width: 680px;
}

.quote {
  font-size: 2em;
  font-family: 'Raleway';
}

.about-me .row {
  margin-top: 50px;

}
.about-me img {
  padding-right: 20px
}

.social-network ul {
  list-style: none;
}

.social-network li {
  display: inline;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
  }

.navbar-nav{
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  margin-top: 22px;
  font-family: 'Raleway', sans-serif;

}

body {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-family: font-family: 'Raleway', sans-serif;
}
.navbar-collapse{
font-size: 15px;
}

.navbar-brand {
margin-top: 22px;
font-size: 20px;
font-family:'Raleway', sans-serif;
}

footer li{
  display: inline;
  padding: 1px;
  color:
}

footer{
  align-center
  margin-top: 50px;
}

card {
margin-top: 40px;
}

.navbar-collapse{
  font-weight: 500px;
  font-size: 10px;
}

.jumboheaderImg{
  background-image (url"../images/photo - me/Desktop HD.png");
  background-size: cover;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

.container social-network {

}

h2 {
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}
h3 {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
h4 {
  font-size: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}
h4 {
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.btn {
  border-radius: 0;
  border-color: #22252A;
  border-width: medium;
  background-color: white;
  padding-top: 9px;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  color: #22252A;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: #22252A;
  border-color: #22252A;
}

.fa-medium {
  color: #272525;
}

.fa-linkedin {
  color: #272525;
}
